<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MegaBookPrinter.Properties.Settings.telemarketSQLConnectionString"
            connectionString="Data Source=.\SQLDEVELOPER,1049;Initial Catalog=telemarketSQL;Persist Security Info=True;User ID=MegaBook;Password=cepher"
            providerName="System.Data.SqlClient" />
        <add name="MegaBookPrinter.Properties.Settings.telemarketSQLConnectionString1"
            connectionString="Data Source=.\SQLDEVELOPER,1049;Initial Catalog=telemarketSQL;Persist Security Info=True;User ID=MegaBook;Password=cepher"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>